Flask==1.1.2
h5py==2.10.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.5
jupyter-console==5.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
numpy==1.19.5
pandas==1.1.5
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pandocfilters==1.4.3
pip==19.3.1
pip-tools==4.5.1
python==3.7.10
pytorch==1.7.1
PyYAML==3.13
scipy==1.4.1
six==1.15.0
Theano==1.0.5
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-datasets==4.0.1
tensorflow-estimator==2.4.0
tensorflow-gcs-config==2.4.0
tensorflow-hub==0.12.0
tensorflow-metadata==0.29.0
tensorflow-probability==0.12.1
torchvision==0.4.2
tzlocal==1.5.1
wheel==0.36.2
